<div class="container">
  <div class="card my-5">
    <div class="card-body">
      <h3>Hi, <%= @user.firstname %> <%= @user.lastname%></h3>
      <h5 class="mb-2 text-success">You are successfully registered with us.</h5>
      <br><br>
        <h6>Thanks and regards,</h6>
        <h6>Subject Management</h6>
    </div>
  </div>
</div>
